


ACTION=="add", SUBSYSTEM=="leds", DEVPATH=="*/leds/act-led", RUN+="/bin/sh -ec 'echo timer > /sys/$${DEVPATH}/trigger && echo 50 > /sys/$${DEVPATH}/delay_off && echo 2000 > /sys/$${DEVPATH}/delay_on || exit 0"

ACTION=="add", SUBSYSTEM=="tpm", DEVPATH=="*/spi6.1/*", RUN+="/usr/lib/unipi/uhelper tpm dev 1 $name"
ACTION=="add", SUBSYSTEM=="tpmrm", DEVPATH=="*/spi6.1/*", RUN+="/usr/lib/unipi/uhelper tpm devrm 1 $name"
